@charset "UTF-8";

header,
header > nav {
  flex-flow: column nowrap;
}

header > h1 {
  flex-basis: 20px;
}

header > nav > a {
  width: 90vw;
  margin: 2px;
  padding: 9px;
}

main {
  width: 80vw;
}
